.modal__container {
  position: fixed;
  inset: 0;
  margin: auto;
  background: #272729;
  border: 1px solid #3a3a3d;
  border-radius: 1rem;
  padding: 1rem;
  width: 19rem;
}

.modal__container::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.closeDialog {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.closeDialog img {
  transform: scale(1.2);
}

.closeDialog button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

.closeDialog button:hover {
  background: #444;
}

.googleBtn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #403f46;
  border: 1px solid #555;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 0.9rem;
}

.googleBtn:hover{
  background: #4d4c54;
}

#email{
  display: flex;
  background: none;
  color: white;
  background: #403f46;
  border: 1px solid #555;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  width: 100%;
  font-size: 0.9rem;
}

#email:focus{
  outline: 1px solid #3245a6;
}

#continueBtn{
  cursor: pointer;
  background: none;
  background-image: linear-gradient(0deg, #352c9d, #3930a6, #3930a6, #352c9d);
  border: 1px solid #3245a6;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#continueBtn:hover{
  background-image: linear-gradient(0deg, #352c9d, #3e34b2, #3e34b2, #352c9d);}
