@font-face {
  font-family: Inter-Medium;
  src: url("./assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: Melodrama-Bold;
  src: url("./assets/fonts/Melodrama-Bold.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("./assets/fonts/Inconsolata-VariableFont.ttf");
}

* {
  font-family: Inter-Medium;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: 0;
  background-color: #27272a;
  font-family: Inter-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}