.Header-topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111010aa;
  border-bottom: 1px solid #3f3f3f;
  height: 55px;
  width: 100%;
  order: 0;
  backdrop-filter: saturate(180%) blur(10px);
}

.Header-topNav-left-logo {
  height: 1.27rem;
  margin-left: 18px;
  margin-right: 42px;
}

.Header-topNav-middle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Header-navLink-container {
  line-height: 30px;
  border-radius: 3px;
}

.Header-navLink-container svg {
  display: none;
}

.Header-navLink-container:hover {
  background-color: #b4b4b438;
}

.Header-navLink-container:hover a {
  color: white;
}

.Header-topNav-middle a {
  cursor: pointer;
  color: #777;
  font-size: 0.875rem;
  margin: 0 4px;
  padding: 17px 12px;
  border-bottom: 1px solid transparent;
}

.Header-topNav-middle .active {
  color: #dddddd;
  border-bottom: 3px solid #5664ff;
}

.Header-topNav-right {
  position: relative;
}

.Header-topNav-right a {
  color: #d8d8d8;
  padding: 7px 16px;
  font-size: 0.875rem;
}

.altGetStartedBtn{
  display: flex;
  justify-content: end;
  display: none;
}

/* ========================================= */

@media (max-width: 640px) {
  .Header-topNav {
    order: 1;
    pointer-events: all;
  }
  .Header-topNav-left-logo {
    display: none;
  }

  .Header-topNav-middle a {
    padding: 0;
    margin: 0;
  }

  .Header-topNav-middle span {
    display: none;
  }

  .Header-navLink-container img,
  svg {
    display: inherit;
    padding: 1rem 40%;
    margin-bottom: -0.3rem;
  }

  .Header-navLink-container svg {
    display: inherit;
  }

  .Header-navLink-container:hover svg {
    stroke: white;
  }

  .changefill:hover {
    fill: white;
  }

  .Header-topNav-middle .active {
    border-bottom: 1px solid #5664ff;
  }

  .active svg {
    stroke: white;
  }

  .active .changefill{
    fill: white;
  }

  .Header-navLink-container {
    line-height: normal;
    flex: 1;
  }
  .Header-navLink-container:hover {
    background: none;
  }
  .Header-topNav-right {
    display: none;
  }
  .altGetStartedBtn{
    display: inherit;
  }
  .dummyHeaderItem{
    pointer-events: all;
  }
}
