.card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, #19181d, #201f25, #19181d);
  border: 1px solid #444;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  width: 17.5rem;
  min-width: 9rem;
}

.card__container__recommended::before {
  content: 'Recommended';
  position: absolute;
  top: 0;
  right: -10%;
  translate: -50% -50%;
  background-color: #4f43ea;
  font-size: 0.75rem;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
}

.cars__planType {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card__btn__sub {
  cursor: pointer;
  background-image: linear-gradient(0deg, #3d93b0, #4cb0ca);
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  line-height: 2.7rem;
  margin: 1rem 0;
  font-size: 1rem;
}

.card__btn__billing {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  height: 2rem;
  gap: 0.5rem;
  border: none;
  color: #888;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid transparent;
}

.card__btn__billing:hover {
  color: white;
  border-bottom: 1px solid white;
}

.card__btn__billing:hover svg {
  fill: white;
}

.card__grayTxt {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1rem;
}

.card__limit {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.2rem 0;
}

.card__checkPoints {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #cccccc;
}


@media (max-width: 640px) {
  .card__container{
    width: 65%;
  }
  .card__container__recommended::before {
    right: -1%;
  }
}